/* stylesheet.css */
body {
    height: 100vh;
    margin: 0;
    font-family: "Roboto", "Times New Roman", sans-serif;
    display: flex;
    flex-direction: column;
}

.top {
    color: white;
    background-color: #1F2937;
    padding: 0px 180px 130px 180px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 18px;
}

a {
    text-decoration: none;
    color: inherit;
    filter: contrast(70%);
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-main, .hero-secondary {
    color: #F9FAF8;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    filter: contrast(70%);
}

img {
    width: 500px;
    height: 250px;
    border: 10px;
    border-radius: 8px;
}

button {
    width: 120px;
    height: 40px;
    border: 10px;
    border-radius: 8px;
    font-family: "Roboto", "Times New Roman", sans-serif;
    font-size: 16px;
    color: white;
    background-color: #3882F6;
    margin-top: 10px;
}

.middle-1 {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-image {
    display: flex;
    gap: 48px;
}

.info-image img {
    width: 200px;
    height: 200px;
}

.subtext {
    text-align: center;
    filter: contrast(50%);
}

.middle-2 {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 70px;
}

.quote-box {
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    align-self: center;
    filter: contrast(65%);
}

.author {
    font-size: 22px;
    align-self: flex-end;
}